.fill-remaining-space {
  flex: 1 1 auto;
}

.nav a {
  margin: 5px 10px 5px 10px;
  padding: 3px 3px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.form1 {
  margin: 5px 10px 5px 10px;
  padding: 3px 3px;
  color: black;
  font-size: 20px;
}

.nav a:hover {
  background-color: springgreen;
  color: black;
}

.nav .icon {
  display: none;
}

.submit:hover {
  background-color: springgreen;
}

@media only screen and (max-width: 600px) {
  .nav a:not(:first-child), form {
    display: none;
  }

  .nav a.icon {
    float: right;
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .nav.res {
    position: relative;
  }

    .nav.res a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .nav.res a {
      float: none;
      display: block;
      text-align: left;
    }
}
